@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
html { font-size: 15px }
body {
  font-family: 'Outfit', sans-serif;  
  margin: 0
}
.page {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center
}
.box {
  background-color: hsl(0, 0%, 100%);
  margin: 20px;
  padding: 20px;
  border-radius: 1.5rem;
  max-width: 300px;
  text-align: center
}
.qrcode {
  max-width: 100%;
  border-radius: 0.5rem
}
.info { padding: 20px }
.title {
  font-size: 1.52rem;
  margin: 0 0 0.5rem;
}
.text {
  color: hsl(220, 15%, 55%);
  font-size: 1.08rem;
  margin: 0
}
