@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
html { font-size: 15px }
body {
  font-family: 'Outfit', sans-serif;  
  margin: 0
}
.page {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center
}
.box {
  background-color: hsl(0, 0%, 100%);
  margin: 20px;
  padding: 20px;
  border-radius: 1.5rem;
  max-width: 300px;
  text-align: center
}
.qrcode {
  background: hsl(220, 15%, 55%) url(img/qr.png) center/cover;
  width: calc(100vw - 80px);
  height: calc(100vw - 80px);
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
  border-radius: 0.5rem
}
.title {
  font-size: 1.6rem;
  margin: 1.5rem 0;
}
.text {
  color: hsl(220, 15%, 55%);
  font-size: 1.15rem
}
